<p><%= notice %></p>

<h1>Listing Employeeprojects Here</h1>
<%= link_to 'New Employee_project', new_employee_project_path%> | | <%= link_to 'Document Page',documents_path %> || <%= link_to 'Task page', tasks_path%>
<table>
	<thead>
		<tr>
			<th>Submission_date</th>
			<th>Employee</th>
			<th>Project</th>
			<th colspan="3">Action</th>
	  </tr>
	</thead>
	<tbody>
		<% @employeeprojects.each do |employeeproject| %>
			<tr>
				<td><%= employeeproject.submission_date%></td>
				<td><%= employeeproject.employee.full_name%></td>
				<td><%= employeeproject.project.name%></td>
			</tr>
		<% end %>
	</tbody>
</table>