<p><%= notice %></p>
<%= link_to 'New students', new_student_path%>
<h1>Listing students Here</h1>
<table>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th colspan="3">Action</th>
	  </tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
			<tr>
				<td><%= student.first_name%></td>
				<td><%= student.last_name%></td>
				<td><%= student.email%></td>
				<td><%= link_to 'View' , student %></td>
				<td><%= link_to 'Edit' , edit_student_path(student.id) %></td>
				<td><%= link_to "Destroy", student_path(student), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
			</tr>
		<% end %>
	</tbody>
</table>