<%= form_with model: @project, data: {turbo: false} do |form|%>
	<div>
		<%= form.label :name %><br>
		<%= form.text_field :name%>
		<% @project.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.label :description %><br>
		<%= form.text_field :description%>
		<% @project.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div>
		<%= form.submit %> |  | <%= link_to 'Back', projects_path %>
	</div>
<%end%>

